.section-main__title {
  display: none;
}

.header {
  position: fixed;
  left: -320px;
  top: 0;
  z-index: 1100;
  width: 320px;
  height: 100vh;
  padding: 60px 75px;
  background-color: #fff;
  overflow: scroll;
  transition: .5s;


  .header__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1101;
  }

  .header__logo {
    margin-bottom: 100px;

    .header__logo-link {
      .header__logo-img {
        height: auto;
        max-width: 100%;
      }
    }
  } // header-logo

  .nav__link--header {
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: $btn-color;
      position: absolute;
      top: 50%;
      left: -150px;
      z-index: 1101;
      margin-top: -1.5px;
      transition: .3s;
    }

    &:hover {
      &::before {
        transform: translate(75px, 0);
      }
    } // hover
  } // nav__link--header


  .header__buttons {
    margin: 30px 0 100px;

    .header__buttons-item {
      width: 160px;
      height: 55px;
      margin-bottom: 15px;
    }
  } // nav-buttons

  .header__client {
    margin-bottom: 100px;

    .header__client-link {
      display: block;
      font-size: 18px;
      font-weight: 400;
      color: $nav-text-color;
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px 0;
      transition: .3s;

      .header__client-img {
        margin-right: 10px;
      }

      .header__client-counter {
        font-size: 16px;
        color: $black-transparent;
      }

      &:hover {
        color: $btn-color;
      }
    } // client-block__item
  } // client-block

  .header__social {
    display: flex;
    justify-content: space-between;

    .header__social-item {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      transition: .3s;
    }

    .pinterest {
      background-image: url(../img/icons/pinterest.svg);

      &:hover {
        background-image: url(../img/icons/pinterest-orange.svg);
      }
    }

    .instagram {
      background-image: url(../img/icons/instagram.svg);

      &:hover {
        background-image: url(../img/icons/instagram-orange.svg);
      }
    }

    .facebook {
      background-image: url(../img/icons/facebook.svg);

      &:hover {
        background-image: url(../img/icons/facebook-orange.svg);
      }
    }

    .twitter {
      background-image: url(../img/icons/twitter.svg);

      &:hover {
        background-image: url(../img/icons/twitter-orange.svg);
      }
    }
  } // social-block
} // header


@media (min-width: 992px) {
  .header {
    position: absolute;
    left: 0;
    height: auto;
    overflow: auto;

    .header__close {
      display: none;
    }
  } // header
} // width 992px
