.products-main {

  .products-main__block {
    width: 100%;
    height: auto;

    .products-main__block-link {
      display: block;
      position: relative;

      &::after {
        content: "";
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: $black-transparent;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
      }

      .products-main__block-img {
        display: block;
        width: 100%;
        height: auto;
      }

      .products-main__block-info {
        position: absolute;
        left: 30px;
        top: 40px;
        z-index: 100;

        .products-main__block-price {
          font-size: 16px;
          color: $main-price-color;
          margin: 5px 0;
          position: relative;

          &::before {
            content: "";
            display: block;
            width: 80px;
            height: 3px;
            background-color: $btn-color;
            position: absolute;
            left: 0;
            top: -15px;
            z-index: 101;
          }
        }

        .products-main__block-name {
          font-size: 24px;
          color: $product-name-color;
          text-transform: capitalize;
        }
      } // product-block__info

      &:hover {
        &::after {
          opacity: 1;
        }

        .products-main__block-info {
          .products-main__block-price {
            color: #fff;
          }
          .products-main__block-name {
            color: #fff;
          }
        }
      } // hover link
    } // product-block__link
  } // product-block
} // products-main


@media (min-width: 768px) {
  .products-main {
    .products-main__block {
      width: 50%;
    }
  }
}

@media (min-width: 992px) {
  .products-main {
    margin-left: 320px;

    .products-main__block {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .products-main {
    .products-main__block {
      width: 50%;
    }
  }
}

@media (min-width: 1360px) {
  .products-main {
    .products-main__block {
      width: 33.3333%;
    }
  }
}
