@import "variables";
@import "padding-100-0";
@import "container";
@import "close-btn";
@import "search";
@import "button";
@import "navigation";
@import "mobile-nav";
@import "header";
@import "products-main";
@import "newsteller";
@import "footer";
@import "active-link";
@import "scroll-up";
@import "visible";



*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: Arial, serif;
}

.search-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1400;
  background-color: $black-transparent;
  display: none;
}

.section-main {
  padding: 0;
  margin-top: 70px;

  .header-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
    background-color: $black-transparent;
    display: none;
  }

}

@media (min-width: 992px) {
  .section-main {
    margin-top: 0;
  }
}
