@import "variables";
@import "search-block";
@import "button";
@import "mobile-nav";
@import "header";
@import "products-main";
@import "newsteller";
@import "footer";
@import "scroll-up";
@import "active-link";
@import "visible";
@import "footer-nav-show";



*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: Arial, serif;
}


.container {
  padding: 0 15px;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.section {
  padding: 100px 0;
}

.section_search {
  width: 100%;
  background-color: #f5f7fa;
  position: fixed;
  top: -260px;
  left: 0;
  z-index: 1500;
  transition: .3s;
}

.search_show {
  top: 0;
}


.section_main {
  padding: 0;
  margin-top: 70px;
}

@media (min-width: 768px) {
  .section_main {
    position: relative;
    margin-top: 0px;
    display: flex;
  }
}


.section_newsteller {
  background-color: #3c3c3c;
}


.section_footer {
  background-color: #252525;
}
